.loginCard {
  width: 400px;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.cardContainer {
  display: flex;
  align-content: center;
  justify-content: center;
}
.loginContainer {
  display: flex;
  height: 100vh;
  align-content: center;
  justify-content: center;
}
