.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.contentDiv {
  min-height: 100vh;
  position: relative;
  width: 77vw;
  left: 21vw;
}
